<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<style media="screen">
  div.card {
    height: 176;
  }
</style>

<% @user.players.each_with_index do |player, index| %>
  <div class="card-container">
    <input type="checkbox" class="hidden" id="<%= "player-#{index}" %>" name="team[player_ids][]" value="<%= player.id %>" checked>
    <div class="card">
      <div class="card-content">
        <div class="card-title-container">
          <div class="card-title"><%= player.name %></div>
        </div>
        <table class="card-table">
          <tr>
            <td>PPG</td>
            <td><%= player.ppg %></td>
          </tr>
          <tr>
            <td>APG</td>
            <td><%= player.apg %></td>
          </tr>
          <tr>
            <td>RPG</td>
            <td><%= player.rpg %></td>
          </tr>
          <tr>
            <td>SPG</td>
            <td><%= player.spg %></td>
          </tr>
          <tr>
            <td class="last">BPG</td>
            <td class="last"><%= player.bpg %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% end %>

</body>
