<div class="form-container">
  <h1>Join Flatiron Basketball</h1>
  <%= form_for(@user, url: signup_path) do |f| %>

  <%= f.text_field :name, placeholder: "Name", class: "form-field #{'error' if @user.errors.include?('name')}" %>
  <%= f.email_field :email, placeholder: "Email", class: "form-field #{'error' if @user.errors.include?('email')}" %>
  <%= f.password_field :password, placeholder: "Password", class: "form-field #{'error' if @user.errors.include?('password')}" %>


  <input type="submit" name="Signup" value="Signup" class="form-button" id="<%= 'error-button' if @user.errors.any? %>">
  <% end %>
  <p> Already have an account? Please <%= link_to "sign in", login_path%><p>
</div>
