<tr>
  <td class="player"><%= appearance.player_name %></td>
  <td class="number"><%= appearance.points %></td>
  <td class="number"><%= appearance.rebounds %></td>
  <td class="number"><%= appearance.assists %></td>
  <td class="number"><%= appearance.steals %></td>
  <td class="number"><%= appearance.blocks %></td>
</tr>
