
<div class="container">
  <table class="game-results" style="margin: 40px auto;">
    <tr>
      <th class="player"> Team</th>
      <th>Win Percentage</th>
    </tr>
    <% @leaderboard.each do |win_pct_hash| %>
    <tr>
      <td><%= win_pct_hash[1] %></td>
      <td class="number"><%= win_pct_hash[0] ? win_pct_hash[0].round(2) : 0 %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="container">
  <% @games.each do |game| %>
    <a href="<%= game_path(game) %>">
      <div class="game-scorecard">
        <center>
          <div class="team-score">
            <div class="team" ><%= game.teams.uniq.first.name[0,15]%></div>
            <div class="score"><%= game.total_points_by_team(game.teams.uniq.first.id) %></div>
          </div>
          <div class="team-score">
            <div class="team" ><%= game.teams.uniq.last.name[0,15]%></div>
            <div class="score" ><%= game.total_points_by_team(game.teams.uniq.last.id) %></div>
          </div>
          <div class="date" ><%= game.date.strftime('%B %C, %G') %></div>
        </center>
      </div>
    </a>
  <% end %>
</div>
