<!DOCTYPE html>
<html>
  <head>
    <title>FlatironBasketballAssociation</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-bar">
    <div class="nav-bar-logo">
      <div class="nav-bar-logo-text">
        Flatiron Basketball
      </div>
    </div>
      <% if !session[:user_id] %>
        <%= link_to signup_path do %>
          <div class="nav-bar-button">
            <div class="nav-bar-button-text">
              SIGNUP
            </div>
          </div>
        <% end %>
        <%= link_to login_path do %>
        <div class="nav-bar-button">
          <div class="nav-bar-button-text">
            LOGIN
          </div>
        </div>
        <% end %>
      <% else %>
        <%= link_to login_path, method: :delete do %>
        <div class="nav-bar-button">
          <div class="nav-bar-button-text">
            LOGOUT
          </div>
        </div>
        <% end %>
        <%= link_to user_path(session[:user_id]) do %>
        <div class="nav-bar-button">
          <div class="nav-bar-button-text">
            MY TEAM
          </div>
        </div>
        <% end %>
        <%= link_to games_path do %>
        <div class="nav-bar-button">
          <div class="nav-bar-button-text">
            STANDINGS
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="nav-bar-space">
    </div>
    <%= yield %>
  </body>
</html>
